<h1>Welcome to grasping math / algebra touch input file generator.</h1>

<p id="notice"><%= notice %></p>

<p>A link to a demo of grasping math should go here.</p>


<% if (current_user&&current_user.admin_flag == 1) %>
  <p><%= link_to 'users', users_path %></p>
<% end %>

<p>
	<% if current_user %>
	<%= link_to 'generate', generate_path %>
	<% end %>
</p>
